.header {
    padding: 20px 0;
}

.header__logo {
    display: block;
    margin: 0 auto;
}

.hero-section__title {
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
}

.hero-section__add-btn {
    padding: 14px 26px;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    border: none;
    border-radius: 4px;
    background: #FEAF00;
    transition: all 250ms linear;
}

.hero-section__add-btn:hover,
.hero-section__add-btn:active {
    opacity: 0.6;
}

.hero-section__product-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    column-gap: 25px;
    row-gap: 30px;
}